<div class="text-center" style="margin: 0 auto;background: #627F8D; width: 410px;color: white;border-radius: 8px;height: 300px;">
  <div style="margin: 10px auto; width: 350px;">
    <div class="d-flex justify-content-around align-items-center">
      <div style="float: left">
        <h4 (click)="firstMouth()" style="cursor: pointer">&lt;</h4>
      </div>
      <div style="float: left; margin: 0 20px; width: 125px;" class="text-center">
        <h4>{{months[month]}}</h4>
        <h5>{{year}}</h5>
      </div>
      <div style="float: left">
        <h4 (click)="secondMouth()" style="cursor: pointer">&gt;</h4>
      </div>
    </div>
  </div>
  <div style="width: 382px; display: inline-block">
    <div style="display: inline-block; width: 50px; height: 25px; margin: 2px" *ngFor="let day of weeks">
      <span>{{day}}</span>
    </div>
    <div style="float: left; width: 50px; height: 25px; border-radius:20px; margin: 2px;  cursor: pointer" #wfm (click)="click(wfm)" *ngFor="let day of days">
      <span style="">{{day}}</span>
    </div>
  </div>
</div>






